<!--Multicolumn: Chia cột
    Cú pháp:
    Column – count : [n] {số cột}
    Column – gap: [n] {khoảng cách giữa các cột}
    Column – rule : [size style color ] {đường kẻ
    ngăn cách giữa các cột}-->      
h1{
    text-align: center;
}
.newspapers{
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px;
}