div{
    width: 1000px;
    height: 700px;
    background-image: url(/IMAGES/img3.png),url(/IMAGES/smile.jfif);
    background-position: left top right bottom;
    background-repeat: no-repeat,repeat;
}